# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: FTP deploy PHP app to Azure Web App - mydemowp

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: 'mydemowp'    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  PHP_VERSION: '8.0'                  # set this to the PHP version to use


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Replace credentials
        run: |
          #find . -name "*" -exec sed -i "s/__VERSION__/$(cat VERSION.md)/g" {} +
          sed -i 's/_DB_HOST_/${{ secrets.PROD_DB_HOST }}/g' ./wordpress/wp-config.php
          sed -i 's/_DB_NAME_/${{ secrets.PROD_DB_NAME }}/g' ./wordpress/wp-config.php
          sed -i 's/_DB_PASSWORD_/${{ secrets.PROD_DB_PASSWORD }}/g' ./wordpress/wp-config.php
          sed -i 's/_DB_USER_/${{ secrets.PROD_DB_USER }}/g' ./wordpress/wp-config.php
          sed -i 's/_AUTH_KEY_/${{ secrets.AUTH_KEY }}/g' ./wordpress/wp-config.php
          sed -i 's/_SECURE_AUTH_KEY_/${{ secrets.SECURE_AUTH_KEY }}/g' ./wordpress/wp-config.php
          sed -i 's/_LOGGED_IN_KEY_/${{ secrets.LOGGED_IN_KEY }}/g' ./wordpress/wp-config.php
          sed -i 's/_NONCE_KEY_/${{ secrets.NONCE_KEY }}/g' ./wordpress/wp-config.php
          sed -i 's/_AUTH_SALT_/${{ secrets.AUTH_SALT }}/g' ./wordpress/wp-config.php
          sed -i 's/_SECURE_AUTH_SALT_/${{ secrets.SECURE_AUTH_SALT }}/g' ./wordpress/wp-config.php
          sed -i 's/_LOGGED_IN_SALT_/${{ secrets.LOGGED_IN_SALT }}/g' ./wordpress/wp-config.php
          sed -i 's/_NONCE_SALT_/${{ secrets.NONCE_SALT }}/g' ./wordpress/wp-config.php

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: waws-prod-blu-317.ftp.azurewebsites.windows.net
          username: ${{ secrets.ftp_username }}
          password: ${{ secrets.ftp_password }}
          protocol: ftps
          port: 21 # todo replace with your web hosts ftps port
          local-dir: ./wordpress/
          server-dir: /site/wwwroot/wordpress/
          exclude: |
            **/.git*
            **/.git*/**        